body {
  background-color: #282c34;
}

 h3, p {
  color: white;
  text-align: "center";
  font-family: "Trebuchet MS, Helvetica, sans-serif"
}
input {
  padding: 19px;
  margin-top: 5rem;
  width: 10rem;
  margin: 5rem;
  display: flex;
}

button {
  padding: 15px;
  width: 12rem;
  background-color: #eb4d4b;
  color: white;
  font-size: 20px;
  margin-left: 5rem;
}





